*.iml
.gradle
/local.properties
.env
/.vscode
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/app/keys.jks
/private_key.pepk
/key.properties